.homepage {
  text-align: center;
}

.homepage h1 {
  font-size: 3rem;
  letter-spacing: -2px;
}

.navbar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 65px;
  width: 100vw;
  text-align: right;
}
